@import url("https://fonts.googleapis.com/css?Rubik:700&subset=cyrillic");
* {
  cursor: default; }

div, p, body, button, h1, h2, h3, h4, img, hr, li, ul, span, section, a, nav, form, option, select, label, input, button, header, footer {
  margin: 0;
  padding: 0; }

input,
textarea {
  font-family: inherit;
  outline: none; }

html {
  font-family: 'Tahoma', sans-serif; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh; }
  body .section-side {
    width: 33%; }
  body .seciton-main {
    width: 66%; }

.logo {
  font-size: 0;
  display: block;
  width: 267px;
  height: 200px;
  background: url(../img/sections/side/logo.svg) center/contain no-repeat; }

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  text-align: center; }
  .countdown strong {
    font-family: "Rubik", sans-serif;
    font-size: 6em;
    font-weight: 700;
    line-height: 1.1; }
  .countdown span {
    text-transform: uppercase;
    letter-spacing: 0.1em; }

.section-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: black url(../img/sections/side/bg.jpg) center/cover no-repeat;
  color: white;
  padding: 4% 0; }
