@import url("https://fonts.googleapis.com/css?family=Rubik:700&subset=cyrillic");
* {
  cursor: default; }

div, p, body, button, h1, h2, h3, h4, img, hr, li, ul, span, section, a, nav, form, option, select, label, input, button, header, footer {
  margin: 0;
  padding: 0; }

input,
textarea {
  font-family: inherit;
  outline: none; }

button {
  border: none; }

a {
  color: #628F56; }

h2 {
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: black; }
  @media screen and (max-width: 559px) {
    h2 {
      font-size: 26px; } }

html {
  font-family: 'Tahoma', sans-serif; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  height: 100vh;
  min-height: 740px; }
  body .section-side,
  body .section-main {
    box-sizing: border-box; }
  body .section-side {
    width: 33%;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  body .section-main {
    width: 100%; }

@media screen and (max-width: 1023px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto; }
    body .section-side {
      width: 100%; }
    body .section-main {
      width: 100%; } }
.button-primary, .details .investors-plan {
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  background-color: #628F56;
  color: white;
  line-height: 42px;
  border-radius: 22px;
  padding: 2px 44px 0; }

.text-input {
  border: 2px solid #AAA;
  padding: 7px 20px 9px;
  border-radius: 22px;
  background: white; }
  .text-input input[type=text] {
    font-size: 16px;
    line-height: 20px;
    border: none;
    width: 100%; }
  .text-input.hidden {
    display: none; }
  .text-input.error {
    border-color: #628F56; }
  .text-input.disabled {
    pointer-events: none;
    opacity: 0.2; }

.logo {
  font-size: 0;
  display: block;
  width: 100%;
  max-width: 200px;
  padding-top: 100%;
  background: url(../img/sections/side/logo.png) center/contain no-repeat; }

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  text-align: center; }
  .countdown strong {
    font-family: "Rubik", sans-serif;
    font-size: 6em;
    font-weight: 700;
    line-height: 1.1; }
    .countdown strong::before {
      content: attr(countdown); }
  .countdown span {
    text-transform: uppercase;
    letter-spacing: 0.1em; }

.promo {
  font-size: 20px; }
  .promo h2 {
    margin-bottom: 8px; }
  .promo form {
    margin-top: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .promo .text-input {
    width: 300px; }
  .promo .button-primary, .promo .details .investors-plan, .details .promo .investors-plan {
    margin-left: -40px;
    position: relative;
    z-index: 1; }
  .promo .small {
    font-size: 14px;
    color: #888;
    margin-top: 8px; }

@media screen and (max-width: 559px) {
  .promo form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    background: #eee;
    padding: 20px 0;
    border-radius: 25px;
    margin-top: 30px; }
  .promo .button-primary, .promo .details .investors-plan, .details .promo .investors-plan {
    margin-left: 0;
    margin-top: 10px;
    width: 90%; }
  .promo .text-input {
    width: 90%;
    box-sizing: border-box; } }
.advantages li {
  width: 33%;
  padding-top: 60px;
  max-width: 200px;
  position: relative; }
  .advantages li:not(:nth-last-child(-n+3)) {
    margin-bottom: 40px; }
  .advantages li::before {
    content: '';
    position: absolute;
    top: 30px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
  .advantages li.advantages-price::before {
    background-image: url("../img/sections/main/advantages/price.svg");
    width: 108px;
    height: 19px; }
  .advantages li.advantages-search::before {
    background-image: url("../img/sections/main/advantages/search.svg");
    width: 34px;
    height: 34px; }
  .advantages li.advantages-place::before {
    background-image: url("../img/sections/main/advantages/place.svg");
    width: 27px;
    height: 38px; }
  .advantages li.advantages-identity::before {
    background-image: url("../img/sections/main/advantages/identity.svg");
    width: 42px;
    height: 42px; }
  .advantages li.advantages-delay::before {
    background-image: url("../img/sections/main/advantages/delay.svg");
    width: 27px;
    height: 41px; }
  .advantages li.advantages-storage::before {
    background-image: url("../img/sections/main/advantages/storage.svg");
    width: 32px;
    height: 32px; }
  .advantages li.advantages-ads::before {
    background-image: url("../img/sections/main/advantages/ads.svg");
    width: 40px;
    height: 30px; }
  .advantages li.advantages-design::before {
    background-image: url("../img/sections/main/advantages/design.svg");
    width: 41px;
    height: 34px; }
  .advantages li.advantages-ready::before {
    background-image: url("../img/sections/main/advantages/ready.svg");
    width: 39px;
    height: 39px; }
  @media screen and (max-width: 559px) {
    .advantages li {
      -ms-flex-pack: distribute;
          justify-content: space-around;
      width: 45%; }
      .advantages li:not(:last-child) {
        margin-bottom: 40px; } }

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  font-size: 14px;
  text-align: center; }

.details p {
  margin-top: 0.6em; }
.details .investors-plan {
  margin-bottom: 1em; }
.details .photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2em; }
  .details .photos a {
    border-radius: 8px;
    overflow: hidden; }
  .details .photos a:not(:last-child) {
    margin-right: 1em; }
  .details .photos img {
    display: block;
    max-width: 100%; }
@media screen and (max-width: 559px) {
  .details .investors-plan {
    width: 100%;
    padding-left: 0;
    padding-right: 0; }
  .details .photos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .details .photos a:not(:last-child) {
      margin-right: 0;
      margin-bottom: 1em; } }

.section-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: black url(../img/sections/side/bg.jpg) center/cover no-repeat;
  color: white;
  padding: 4% 5%; }
  .section-side .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .section-side .address {
    font-style: normal;
    font-size: 14px;
    color: white;
    margin-top: 20px;
    text-align: center;
    line-height: 1.5; }

@media screen and (max-width: 1023px) {
  .section-side {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 10%;
    padding-bottom: 10%; } }
@media screen and (max-width: 559px) {
  .section-side {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .section-side .about {
      margin-bottom: 60px; } }
.section-main {
  padding: 5% 0 5% 5%;
  color: #444;
  overflow-y: scroll; }
  .section-main .advantages-block,
  .section-main .promo,
  .section-main .details {
    max-width: 720px; }
  .section-main .advantages-block,
  .section-main .details {
    margin-top: 60px; }
    .section-main .advantages-block h2,
    .section-main .details h2 {
      margin-bottom: 20px; }
  @media screen and (max-width: 1023px) {
    .section-main {
      padding: 5%;
      -webkit-box-align: center;
          -ms-flex-align: center;
                  -ms-grid-row-align: center;
              align-items: center; } }
  @media screen and (max-width: 559px) {
    .section-main {
      padding-top: 60px;
      padding-bottom: 60px; } }
