@import "advantages/advantages-item";

.advantages {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	font-size: 14px;
	text-align: center;

	li {
		@extend %advantages-item;
	}
}
