.button-primary {
	font-family: $font-rubik;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	background-color: #628F56;
	color: white;
	line-height: 42px;
	border-radius: 22px;
	padding: 2px 44px 0;
}
