.countdown {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 25px;
	text-align: center;

	strong {
		font-family: $font-rubik;
		font-size: 6em;
		font-weight: 700;
		line-height: 1.1;
	}

	span {
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}
}
