.promo {
	font-size: 20px;

	h2 {
		font-family: $font-rubik;
		font-size: 30px;
		line-height: 1.2;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: black;
		margin-bottom: 8px;
	}

	form {
		margin-top: 28px;
		display: flex;
	}

	.text-input {
		width: 300px;
	}

	.button-primary {
		margin-left: -40px;
	}
}
