.text-input {
	border: 2px solid #AAA;
	padding: 7px 20px 9px;
	border-radius: 22px;
	background: white;

	input[type=text] {
		font-size: 16px;
		line-height: 20px;
		border: none;
		width: 100%;
	}

	&.hidden {
		display: none;
	}

	&.error {
		border-color: #628F56;
	}

	&.disabled {
		pointer-events: none;
		opacity: 0.2;
	}
}
