.section-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	padding: 5%;
	color: #444;

	.advantages,
	.promo {
		max-width: 720px;
	}

	.advantages {
		margin-top: 80px;
	}
}

@include mq("tablet-wide", max) {
	.section-main {
		align-items: center;
	}
}

@include mq("phablet", max) {
	.section-main {
		padding-top: 80px;
	}
}
