.section-main {
	padding: 5% 0 5% 5%;
	color: #444;
	overflow-y: scroll;

	.advantages-block,
	.promo,
	.details {
		max-width: 720px;
	}

	.advantages-block,
	.details {
		margin-top: 60px;

		h2 { margin-bottom: 20px; }
	}

	@include mq("tablet-wide", max) {
		padding: 5%;
		align-items: center;
	}

	@include mq("phablet", max) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}
