.section-side {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background: black url(../img/sections/side/bg.jpg) center/cover no-repeat;
	color: white;
	padding: 4% 5%;
}
