.section-side {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background: black url(../img/sections/side/bg.jpg) center/cover no-repeat;
	color: white;
	padding: 4% 5%;

	.about {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.address {
		font-style: normal;
		font-size: 14px;
		color: white;
		margin-top: 20px;
		text-align: center;
		line-height: 1.5;
	}
}

@include mq("tablet-wide", max) {
	.section-side {
		flex-direction: row;
		padding-top: 10%;
		padding-bottom: 10%;
	}
}

@include mq("phablet", max) {
	.section-side {
		flex-direction: column;

		.about {
			margin-bottom: 60px;
		}
	}
}
