.promo
	h2 Забронируйте лучшее место на новом рынке
	p Бонус: арендные каникулы и реклама ваших продуктов в пресc-релизе.
	form(action="" method="post" data-form)
		.text-input
			input(type="text" placeholder="Телефон" name="phone")
		button.button-primary(type="submit") Забронировать
	p.small Мы перезвоним и расскажем подробнее
