@import url('https://fonts.googleapis.com/css?family=Rubik:700&subset=cyrillic');

$font-rubik: 'Rubik', sans-serif;

a {
	color: $color-green;
	text-decoration: none;
	border-bottom: solid 1px $color-green;
}

h1, h2 {
	font-family: $font-rubik;
	line-height: 1.2;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: black;
}

h1 {
	font-size: 3rem;

	@include mq("phablet", max) { font-size: 1rem; }
}

h2 {
	font-size: 30px;

	@include mq("phablet", max) { font-size: 26px; }
}
