html {
	font-family: 'Tahoma', sans-serif;
}

body {
	display: flex;
	height: 100%;
	height: 100vh;
	min-height: 740px;

	.section-side,
	.section-main {
		box-sizing: border-box;
	}
	
	.section-side {
		width: 33%;
		flex-shrink: 0;
	}

	.section-main {
		width: 100%;
	}
}

@include mq("tablet-wide", max) {
	body {
		flex-direction: column;
		height: auto;

		.section-side {
			width: 100%;
		}
		.section-main {
			width: 100%;
		}
	}
}
