.section-main
	.promo
		h2 Забронируйте лучшее место на новом рынке
		p Бонус: арендные каникулы и реклама ваших продуктов в пресc-релизе.
		form(action="" method="post" data-form)
			.text-input
				input(type="text" placeholder="Телефон" name="phone")
			button.button-primary(type="submit") Забронировать
		p.small Мы перезвоним и расскажем подробнее
			
	.advantages-block
		h2 Преимущества
		ul.advantages
			li.advantages-price От 30 000 руб. в месяц за торговое место под ключ
			li.advantages-search Поиск продавца и помощь в его обучении
			li.advantages-place Близко от центра Москвы
			
			li.advantages-identity Фирменный стиль: фартуки, майки, бейсболки
			li.advantages-delay Отсрочка платежа в первый месяц
			li.advantages-storage Место для хранения продукции
			
			li.advantages-ads Мощная рекламная поддержка
			li.advantages-design Продуманный архитектурный дизайн
			li.advantages-ready Торговое пространство «под ключ»
			
	.details
		h2 О компании
		
		.photos
			mixin photo(name)
				a(href="img/sections/main/photos/originals/#{name}.jpg", target="_blank")
					img(src="img/sections/main/photos/preview/#{name}.jpg")
			
			+photo('01')
			+photo('02')
			+photo('03')
			
		.investors
			a.investors-plan(href="img/sections/main/plan.pdf", target="_blank") Скачать план проекта
			
			p Инвестор проекта и управляющая компания:
				= " "
				a(href="http://www.blackstonekeeping.com/") BlackStone Keeping Company
			p Проектировщик проекта:
				= " "
				a(href="http://www.zemskiygroup.com/") Zemskiy Group
			
