.section-side
	.about
		h1.logo Азбука фермы
		
		address.address
			p ТРЦ «Золотой Вавилон»
			p Москва, Проспект Мира, 211, к. 2, этаж 1
			p
				a(href="tel:+74956450063") +7 495 645 0063
			
	.countdown
		span Осталось
		= " "
		strong#data-countdown(countdown="80")
		= " "
		span торговых мест
